{% extends 'base.html' %}

{% block body%}
<section class="section-content padding-y">
      <!-- ============================ COMPONENT REGISTER   ================================= -->
      <div class="card mx-auto" style="max-width: 720px; margin-top: 80px">
        <article class="card-body">
          <header class="mb-4"><h4 class="card-title">Profile</h4></header>
          <form method="POST">
            {% csrf_token %}
            <div class="form-row">
              <div class="col form-group">
                <label>User Name</label>
                <br/>
                {{profile.username}}
              </div>
            </div>
            <div class="form-row">
              <div class="col form-group">
                <label>First name</label>
                <br/>
                {{profile.first_name}}
              </div>
              <!-- form-group end.// -->
              <div class="col form-group">
                <label>Last name</label>
                <br/>
                {{profile.last_name}}
              </div>
              <!-- form-group end.// -->
            </div>
            <!-- form-row end.// -->
            <div class="form-group">
              <label>Email</label>
              <br/>
                {{profile.email}}
            </div>
            <!-- form-group end.// -->

            <div class="form-row">
             
              <!-- form-group end.// -->
              
              <!-- form-group end.// -->
            </div>

            <div class="row">

              {% for recipe in user_recipe %}

              <div class="col-md-6">

                <div class="card card-product-grid">
                  <a href="{% url 'update_recipe' recipe.id %}" class="img-wrap"> <img src="{{recipe.image.url}}"> </a>
                  <figcaption class="info-wrap">
                    <a href="{% url 'update_recipe' recipe.id %}" class="title">Tittle: </br>{{recipe.product_name}}</a>
                    <div class="price mt-1">Product Description:</br>{{recipe.description}}</div> <!-- price-wrap.// -->


                  <div>

                    <table class="table table-bordered">
                  
                      <tbody>
          
                          <tr>
                              <td>
                                 <a href="{% url 'update_recipe' recipe.id %}" class = 'btn btn-warning btn-sm'>edit</a>
                                 <a href="{% url 'delete_recipe' recipe.id %}" class = 'btn btn-danger btn-sm'>delete</a>
                                 <a href="{% url 'product_detail' recipe.category.slug recipe.slug%}" class = 'btn btn-success btn-sm'>details</a>
                              </td>
                            </tr>
                           
                      </tbody>
                    </table>
                  </div>


                  </figcaption>
                </div>



              </div> <!-- col.// -->

              {% endfor %}

              

            </div> <!-- row.// -->

            
            <!-- form-group// -->
          </form>
        </article>
        <!-- card-body.// -->
      </div>
      <!-- card .// -->
      <br /><br />
      <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
    </section>
{% endblock%}