{% extends 'base.html' %}
{% load static %}

{% block body %}


<section class="section-intro padding-y-sm">
<div class="container">

</div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
<div class="container">

{% if product %}

<header class="section-heading">
	<h3 class="section-title">Popular Recipe</h3>
</header><!-- sect-heading -->

<div class="row">

	{% for recipe in product %}
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="{% url 'product_detail' recipe.category.slug recipe.slug %}" class="img-wrap"> <img src="{{recipe.image.url}}"> </a>
			<figcaption class="info-wrap">
				<a class="title">{{recipe.product_name}}</a>
				
				<div class="price mt-1">{{recipe.description}}</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	{% endfor %}
</div> <!-- row.// -->
{% else %}
<h2> Recipe List is Empty </h2>

{% endif%}

</div><!-- container // -->

</section>



{% endblock %}